/* html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
} */

body {
  font-family: sans-serif;
  font-size: 1.5em;
}
/*
[class*='-section']:not(:last-child) {
  margin-bottom: 40px;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

img {
  display: block;
}

/**
  |============================
  | Block model
  |============================
*/
.block-model-section {
  outline: 3px dashed;
}

.title {
  width: 400px;
  min-height: 200px;
  padding: 20px;
  margin-bottom: 100px;

  border: 3px solid red;

  /* border-radius: 50%; */

  /* border-left: 10px dashed lightblue;
  border-right: 20px dotted yellow;
  border-bottom: 40px solid transparent; */
}

.description {
  width: 400px;
  height: 200px;

  padding: 20px;
  margin-bottom: 40px;

  outline: 2px solid red;
  outline-offset: -2px;
}

.block {
  width: 400px;
  padding: 40px;

  /* outline: 2px solid red;
  outline-offset: -2px; */

  background-color: violet;
  /* color: white; */
}

/**
  |============================
  | Display property
  |============================
*/
.display-property-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.one {
  background-color: yellow;
}
.two {
  background-color: blue;
}
.three {
  background-color: tomato;
}

.container {
  width: 800px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

.block-text {
  width: 400px;

  margin-left: 20px;
  margin-right: 20px;

  margin: 0 auto;

  margin-bottom: 30px;
  padding: 20px;
  background-color: lightgreen;
  color: white;
}
.img-wrapper {
  width: 640px;
  background-color: aqua;
}

.img-wrapper p {
  background-color: blueviolet;
}

.inline-link {
  background-color: lightseagreen;
  color: white;
}

.inline-block-btn {
  background-color: hotpink;
  color: white;

  border: 3px solid rgb(169, 24, 226);
  border-radius: 15px;
}

/**
  |============================
  | Pseudo classes
  |============================
*/

:root {
  --color1: lightgreen;
  --color2: lightseagreen;
  --color3: lightsalmon;
  --color4: blueviolet;
}

.pseudo-classes-section {
  background-color: var(--color2);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 500px;

  margin-left: auto;
  margin-right: auto;
}

.item {
  padding: 30px;

  color: white;
  text-align: center;

  background-color: lightblue;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* .item:first-child {
  background-color: var(--color1);
}

.item:last-child {
  background-color: var(--color2);
} */

/*
  an + b
  a - період циклу
  n - лічильник циклу (0 = +1)
  b - зміщення для перебору
*/

/* .item:nth-child(4) {
  background-color: var(--color3);
} */
/*
.item:nth-child(even) {
  background-color: var(--color3);
}
.item:nth-child(odd) {
  background-color: var(--color4);
} */

/* .item:nth-last-child(n + 5) {
  background-color: var(--color4);
} */

.item:not(:last-child) {
  margin-bottom: 30px;
}

.box {
  width: 800px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  background-color: lightblue;
  border-radius: 10px;
}

.box-item {
  width: 150px;
  height: 150px;

  font-size: 2em;
  /* line-height: 150px; */
  text-align: center;
  color: white;
  background-color: blueviolet;
  border-radius: 10px;
}
/*
.box-item:nth-child(3) {
  font-size: 4em;
} */

/**
  |============================
  | Flexbox
  |============================
*/

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  /* default properties */
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  /* align-items: stretch; */
  /* flex-wrap: nowrap; */
  /* align-content: stretch; */
}

.box-item {
  /* flex-basis: calc((100% - 2 * 20px) / 3); */

  /* default properties */
  /* flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 1;
  */
}

.box-item:nth-child(2) {
  order: 1;
  align-self: center;
}

.section {
  width: 800px;
  height: 400px;
  display: flex;
  gap: 30px;

  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;

  background-color: lightblue;
  border-radius: 10px;
}

.one {
  width: 200px;
  border-radius: 10px;
  background-color: tomato;
}

.two {
  border-radius: 10px;
  background-color: burlywood;
}
