/**
  |============================
  | About
  |============================
*/
.about-container {
  display: flex;
  gap: 30px;
}

.about-list {
  display: flex;
  gap: 30px;
}

.about-item {
  overflow: hidden;
}

.about-img {
  transition: transform 1.5s linear;
}

.about-item:hover .about-img {
  transform: scale(1.2);
}

.about-right-side {
  width: 470px;
}

.about-desc {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--dark-txt-cl);
}
