.gallery {
  @include section;
}

.gallery-list {
  @extend %list;
  @include card-set;
}

.gallery-item {
  @include card-set-item;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    @include card-set-item(2);
  }

  @media screen and (min-width: 1200px) {
    @include card-set-item(4);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);

  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);

  transition: transform var(--trns-slow);
}

.gallery-item:hover .overlay {
  transform: translateY(0);
}

.overlay-text {
  color: #ffffff;
}
