/**
  |============================
  | Hero
  |============================
*/

.hero__container {
  position: relative;
  display: flex;
}

.hero__left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.hero__media-list {
  transform: rotate(-90deg) translateY(30px);
  transform-origin: left;
}

.hero__right-side {
  flex-grow: 1;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-color: rgba(25, 28, 38, 0.2);
  background-image: url(../images/hero/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__uppertitle {
  animation: vertical-move 1s ease-in-out calc(300ms * var(--shift)) both;
}

.hero__title {
  width: 450px;
  animation: 1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal both running
    tracking-in-contract-bck;
  text-align: center;
  transform: translate3d(0, 0, 0);
}

.hero__undertitle {
  width: 360px;
  margin: 0;

  animation: vertical-move 1s ease-in-out calc(300ms * var(--shift)) both;
}
