/* logo start */
.logo {
  transition: transform var(--trns-slow);
}
.header--transparency .logo {
  transform: rotateY(360deg) perspective(120px);
}
.logo__img {
  fill: #555555;
  transition: fill var(--trns-slow) 150ms;
}
.header--transparency .logo__img {
  fill: #ffffff;
}
/* logo end */
