.media-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.media-list::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.media-list__link {
  display: block;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: #303030;

  transition: color var(--trns-fast);
}
.media-list__link:hover,
.media-list__link:focus {
  color: var(--accent-txt-cl);
}
/* media end */
