.team {
  @include section;

  background-color: #f7f7f7;
}

.team-container {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 480px;
  }
}

.team-list {
  @include card-set(64px);

  @media screen and (min-width: 1200px) {
    @include card-set(30px);
  }
}

.team-item {
  @include card-set-item;

  @media screen and (min-width: 1200px) {
    @include card-set-item(3);
  }
}

.team-name {
  margin-top: 30px;
  margin-bottom: 8px;

  @extend %team-title;
}

.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-txt-cl);
}
