/**
  |============================
  | Card set
  |============================
*/
.card {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
