@import './decimals';

@mixin section($pt: 84px, $pb: $pt) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin fonts($fs: false, $lh: false, $fw: false, $ls: 0.02em) {
  @if ($fw) {
    font-weight: $fw;
  }
  @if ($fs) {
    font-size: $fs;
  }
  @if ($lh) {
    line-height: decimal-round($lh / $fs);
  }
  @if ($ls) {
    letter-spacing: $ls;
  }
}

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin card-set($indent: 30px) {
  display: flex;
  flex-wrap: wrap;
  gap: $indent;
}

@mixin card-set-item($items: 1, $indent: 30px) {
  flex-basis: calc((100% - $indent * ($items - 1)) / $items);
}
